body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1rem !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace !important;
  font-size: 1rem !important;
}

.main-container {
  position: relative;
  background-color: #0d1116;

}

a {
  text-decoration: none;

  &:hover {
    color: #006161;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;

    .light-mode & {
      color: #5000ca;
    }
  }
}

p, a, h1, h2, h3, h4, h5, label, button {
  color: white;
  font-family: "Lato", sans-serif;

  .light-mode & {
    color: #0d1116;
  }
}

p {
  font-weight: 600;
}

.svg-inline--fa {
  color: white;
}

.container {
  margin-top: 64px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-image {
  width: 100%;
  height: 450px;

  img {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
}

.items-container {
  padding: 5% 10%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 768px) {
    padding: 5% 5%;
  }
}

.light-mode {
  background-color: #f8f9fa;
}
