.navigation-bar {
    justify-content: space-between;
    background-color: #0d1116;

    button {
        font-size: 1.1rem;
        font-family: "Lato", sans-serif;
        text-transform: initial;
        padding: 6px 10px;
        font-weight: 600;
    }

    svg {
        cursor: pointer;

        .light-mode & {
            color: #0d1116;
        }
    }

    .light-mode & {
        background-color: #f8f9fa;
    }
}

.navigation-bar-responsive {
    span, p {
        color: #0d1116;
        font-family: "Lato", sans-serif;
    }
}

.mobile-menu-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}
