.vertical-timeline {
    &::before {
        background: rgba(255, 255, 255, 0.64);

        .light-mode & {
            background-color: rgb(0 0 0 / 47%);
        }
    }

    span {
        color: rgb(39, 40, 34);
        font-family: 'Courier Prime', monospace;
    }

    &--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
        .light-mode & {
            color: rgb(0 0 0 / 83%);
            font-weight: 600;
        }
    }

    &--animate .vertical-timeline-element-content.bounce-in {
        .light-mode & {
            box-shadow: 0px 3px 7px 2px #939393;
        }
    }
}

.vertical-timeline-element-content {
    background: #fff;
    box-shadow: 0 3px 0 #ddd;

    p,
    h3,
    h4 {
        color: rgb(39, 40, 34);
        .subtitle-smalltext {
            font-size: 0.8rem;
            display: block;
        }
    }

    h3 {
        font-weight: 800;
    }
    h4 {
        font-weight: 700;
    }
    p {
        font-weight: 600;
    }
}

.vertical-timeline-element-content-arrow {
    border-right: 10px solid #fff;

    .light-mode & {
        border-right: 10px solid rgba(0, 0, 0, 0.48) !important;
    }
}

.vertical-timeline-element-icon {
    background: #006161;
    box-shadow: 0 0 0 4px #0d1116, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);

    .light-mode & {
        box-shadow: 0 0 0 4px #f8f9fa, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    }
}

.vertical-timeline-element .vertical-timeline-element-date {
    color: white;

    @media screen and (max-width: 1170px) {
        color: rgb(39, 40, 34);
    }
}
